---
layout: default
---

<div class="home">
  <section class="module one">
    <h3>About</h3>
    <div class="content">
      <p>I'm Aric, a digital storyteller, data journalist and inherent creator of copy and code. I'm currently covering the city of Boca Raton, Florida for the <a href="http://www.sun-sentinel.com/" target="blank">Sun Sentinel</a>.</p>
      <br />
      <p>Before that, I covered Indiana's legislators and former Gov. Mike Pence for the Associated Press.</p>
      <br />
      <p>In my experience so far, I've had a chance to wear a few hats in digital communication building web interfaces, copy editing, news editing, beat and graphic reporting and social media strategy. I've spent the previous few years melding reporting with web development to help my storytelling process through writing web scrapers in Python, manipulating data for analysis on a command line and visualizing intangible datasets.</p>
      <br />
      <p>I usually tweet a lot of the ideas and stories I come across, so <a href="http://twitter.com/@aric_chokey" target="blank">connect with me on Twitter</a>.</p>

    </div>
  </section>

  <section class="module two">
    <h3>Code</h3>
    <div class="content">
          {% include projects.html %}
    </div>
  </section>

  <section class="module three">
      <h3>Writing</h3>
      <div class="content">
          {% include stories.html %}
      </div>
  </section>


  <section class="module four">
    <a href="{{ site.resume_link }}" target="_blank"><h3>View my resume</h3></a>
  </section>

</div>
