---
layout: default
---

<div class="home">
  <section class="module one">
    <h3>About</h3>
    <div class="content">
      <p>I'm Aric, a data engineer and developer at <a href="https://www.opensecrets.org/" target="_blank">OpenSecrets</a> where I build software to help make campaign finance and other government data more transparent.</p>

      <p>Previously, I wrangled data as a data journalist at the <a href="http://www.sun-sentinel.com/" target="blank">South Florida Sun Sentinel</a> where I built <a href="https://www.pulitzer.org/winners/south-florida-sun-sentinel" target="_blank">Pulitzer Prize-winning news interactives</a>.</p>

      <p>Find me on <a href="http://twitter.com/@aric_chokey" target="blank">Twitter</a> or feel free to reach out through <a href="mailto:achokey21@gmail.com?subject=Hey Aric!">email</a>.</p>

    </div>
  </section>

  <section class="module two">
    <h3>Projects</h3>
    <div class="content">
          {% include projects.html %}
    </div>
  </section>

  <section class="module three">
      <h3>Stories</h3>
      <div class="content">
          {% include stories.html %}
      </div>
  </section>


  <section class="module four">
    <a href="{{ site.resume_link }}" target="_blank"><h3>Get my resume</h3></a>
  </section>

</div>
